
<div class="row">
	<div class="small-12 large-12 columns">
		<h1>Fun with d3.js</h1>
	</div>
</div>

<div class="row">
	<div class="small-12 large-6 columns">
		<div class="d3-container"></div>
	</div>
	<div class="small-12 large-6 columns">
		<blockquote>
			<p>If you are not embarrassed by the first version of your product, you’ve launched too late.</p>
			<cite>Reid Hoffman</cite>
		</blockquote>			
	</div>
</div>

<script type="text/javascript">
	var data = [30, 60, 10],
		width = 400,
		height = 400,

		container = d3.select('.d3-container'),
		canvas = container.append('svg'),
		
		barGroup = canvas.append('g')
			.attr('transform', 'translate(20, 10)'),
		
		bar = {
			height: 50,
			padding: 10
		},
		unitWidth = 10,
		
		widthScale = d3.scale.linear()
			.domain([0, 50])
			.range([0, width]),
		colorScale = d3.scale.linear()
			.domain([0, 60])
			.range(['red', 'blue']),
		axis = d3.svg.axis()
			.scale(widthScale)
			.ticks(5);

	canvas
		.attr({
			width: width + 50,
			height: height
		});

	barGroup.append('g')
		.attr('transform', 'translate(0, 180)')
		.call(axis);
	
	barGroup.selectAll('rect')
		.data(data)
		.enter()
			.append('rect')
			.attr({
				height: bar.height,
				
				width: widthScale,
				
				y: function(value, index) {
					return index * (bar.height + bar.padding);
				},
				
				fill: colorScale
			});
</script>
