packages/
node_modules/
mphrase/
web/mphraseWebRole/bin/
web/mphraseWebRole/obj/
test/mphraseWebRole.Tests/bin/
test/mphraseWebRole.Tests/obj/
lib/
assets/bin/
*.csproj.user
assets/obj/
.sass-cache/*
**/.sass-cache/*
